<div>
  <h1><%=@find_properties.title%></h1>
    <p>
      <%= "Property ID: #{@find_properties.id}"%><br>
      <%= "Property: #{@find_properties.title}"%><br>
      <%= "Property description: #{@find_properties.description}"%><br>
      <%= "Property price per night: £#{@find_properties.price_per_night}"%><br>
      <%= "Property owner: #{@find_properties.user_id}"%><br>
      <%= "Property availability: #{@find_properties.start_date} - #{@find_properties.end_date}"%><br>
    </p>
</div>